footer {
  padding-top: 30px;
  color: white;
  background: #35322d;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

footer h3 {
  font-family: satist;
  color: #ffb03b;
}

footer .social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px;
}

footer .social-media i {
  border: 2px solid black;
  font-size: 20px;
  border-radius: 50px;
  border: none;
}

footer .credits a {
  color: #ffb03b;
  text-decoration: none;
}
