.carousel-caption
    display: flex
    justify-content: center
    align-items: center
    padding-bottom: 40vh
    text-align: center
    h1
        color: white
        font-family: satist
        font-weight: 400
        font-style: normal
        padding-top: 5px
        font-size: 40px
    .two-btn
        padding-top: 10px
        button
            border: 1px solid #ffa012
            border-radius: 80px 
            background: rgba(0,0 ,0 , 0.3)
            color: white
            padding: 10px
            width: 8vw
.parent
    background: #fffaf3
    video
        
    display: flex
    justify-content: center
    align-items: center
    p
        color: #848484
    .discreption
        padding: 100px
        ul
            display: flex
            flex-direction: column
            gap: 10px
            list-style: none 
            i
                color: #ffb03b
    h1
        font-family: satist
.our-resturant
    text-align: center
    padding: 40px
    h2
        font-weight: 700
        font-family: satist
    span
        color: #ffb03b
        font-size: 28px
        font-weight: 700
    h4
        font-size: 24px
        font-weight: 600
        font-family: satist
    p
        font-size: 15px
        color: #aaaaaa
    .box1
        width: 25vw
        height: 35vh
        box-shadow: 2px 2px 8px -3px rgba(0,0,0,0.71)
        -webkit-box-shadow: 2px 2px 8px -3px rgba(0,0,0,0.71)
        -moz-box-shadow: 2px 2px 8px -3px rgba(0,0,0,0.71)
        .insidebox-1
            padding: 40px
            text-align: start
.allboxs
    display: flex
    gap: 40px
    padding: 30px
    align-items: center
    justify-content: center
.insidebox-1
    display: flex
    flex-direction: column
    gap: 20px
.insidebox-1:hover
    background: #ffb03b
    color: white
    gap: 8px
    transition: 0.1s
    span
        color: white
    p
        color: white
    
