.our-resturant {
  text-align: center;
  padding: 40px;
}

.our-resturant h2 {
  font-weight: 700;
  font-family: satist;
}

.our-resturant span {
  color: #ffb03b;
  font-size: 28px;
  font-weight: 700;
}

.our-resturant h4 {
  font-size: 24px;
  font-weight: 600;
  font-family: satist;
}

.our-resturant p {
  font-size: 15px;
  color: #aaaaaa;
}

.our-resturant .box1 {
  width: 25vw;
  height: 35vh;
  box-shadow: 2px 2px 8px -3px rgba(0, 0, 0, 0.71);
  -webkit-box-shadow: 2px 2px 8px -3px rgba(0, 0, 0, 0.71);
  -moz-box-shadow: 2px 2px 8px -3px rgba(0, 0, 0, 0.71);
}

.our-resturant .box1 .insidebox-1 {
  padding: 40px;
  text-align: start;
}

.allboxs {
  display: flex;
  gap: 40px;
  padding: 30px;
  align-items: center;
  justify-content: center;
}

.insidebox-1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.insidebox-1:hover {
  background: #ffb03b;
  color: white;
  gap: 8px;
  transition: 0.1s;
}

.insidebox-1:hover span {
  color: white;
}

.insidebox-1:hover p {
  color: white;
}

.inside-slider {
  padding: 40px;
  display: flex;
  text-align: start;
  color: white;
}

.inside-slider h3 {
  color: #ffb03b;
  font-family: satist;
}

.inside-slider img {
  width: 40vw;
  height: 50vh;
  padding-right: 20px;
}

.inside-slider span {
  font-size: 26px;
  font-weight: 700;
  border-bottom: 1px solid #ffb03b;
}

.inside-slider i {
  color: #ffb03b;
}

.inside-slider ul li {
  list-style: none;
  padding-bottom: 10px;
}

.carousel-inner {
  padding-top: 40px;
}

.carousel-inner h2 {
  text-align: center;
  font-family: satist;
  color: white;
}

.carousel-inner .events {
  color: #ffb03b;
}

.carousel-inner .inner-for-bg {
  background-image: url(../images/events-bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 600px;
  padding-top: 70px;
}

.book-table {
  padding-top: 60px;
  text-align: center;
}

.book-table h2 {
  font-family: satist;
}

.book-table p {
  font-size: 17px;
}

.book-table span {
  color: #ffb03b;
}

.info-box {
  border: 1px solid black;
  width: 80%;
  padding-left: auto;
  display: flex;
}

.info-box .inside-info-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.info-box input {
  width: 20vw;
  padding: 10px;
}
