@media (max-width: 428px) {
  nav {
    display: none;
  }
  .parent {
    flex-direction: column;
    width: 100%;
  }
  .allboxs {
    flex-direction: column;
  }
  .box1 {
    width: 100vw;
  }
  .insidebox-1 {
    width: 100%;
  }
  .menu {
    width: 100%;
    flex-direction: column;
  }
  .all-menu {
    flex-direction: column;
  }
  .specials {
    flex-direction: column;
  }
  .all-chefs {
    padding-top: 300px;
    padding-bottom: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  .all-book-table textarea {
    width: 100%;
  }
  .all-contact-element {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .all-forms {
    flex-direction: column;
    width: 100%;
  }
  .msgbox2 textarea {
    width: 100%;
  }
}
