.carousel-caption {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 40vh;
  text-align: center;
}

.carousel-caption h1 {
  color: white;
  font-family: satist;
  font-weight: 400;
  font-style: normal;
  padding-top: 5px;
  font-size: 40px;
}

.carousel-caption .two-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: 10px;
}

.carousel-caption .two-btn button {
  border: 1px solid #ffa012;
  border-radius: 80px;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  padding: 6px;
  width: 8vw;
}

.carousel-caption .two-btn button:hover {
  background: #ffb03b;
}
